@font-face {
    font-family: 'a_Plakat_Cmpl';
    src: url('fonts/a_PlakatCmpl_ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/Open\ Sans\ Light.ttf') format('truetype');
}

.nav-link {
    font-family: 'Open Sans Light';
    color: #923c75;
}

#pageTitle{
    margin-left: 15vw;
}

#pageTitle {
    font-size: 70px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'a_Plakat_Cmpl', Arial, sans-serif;;
}
.whiteLabel {
    border-left: 3px solid purple;
    background-color: rgb(255, 255, 255);
}

#infoDiv{
    height: 543px;
    background-image: url(../assets/images/InformationBg.png);
}

footer {
    height: 60dvh;
    min-height: 494px;
    font-size: 20px;
}

.footerIcon {
    height: 65px;
}

/* CUSTOM COLORS */
.colorPurple {
    color: #923c75
}

.colorLightGrey {
    background-color: #f5f5f5;
}