@font-face {
    font-family: 'a_ Plakat Cmpl';
    src: url('../fonts/PLAKAT.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/Open\ Sans\ Light.ttf') format('truetype');
}

.nav-link {
    font-family: 'Open Sans Light';
    color: #923c75;
}

#contentBanner {
    height: 32dvh;
    min-height: 300px;
    padding-left: 15vw;
    background-image: url(../assets/images/contentBanner_bg.gif);
}

#pageTitle {
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "a_ Plakat Cmpl";
}

#content {
    border: 1px solid black;
    height: 350dvh;
    min-height: 3000px;
}

footer {
    height: 60dvh;
    min-height: 494px;
    font-size: 20px;
}

.footerIcon {
    height: 65px;
}

/* CUSTOM COLORS */
.colorPurple {
    color: #923c75
}
.colorLightGrey{
    background-color: #ff0000;
}