/* Estilos para los enlaces de navegación */
.navbar-nav .nav-link {
    color: #923c75;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 10pt;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/* Estilos para el logotipo de la barra de navegación */
.navbar-brand {
    margin-left: 20px;
}

/* Estilos para los iconos */
.bg-icon,
.social-icon {
    width: 30px;
    border-radius: 50%;
    vertical-align: middle; /* Alinear verticalmente con el texto */
}
