@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "a_PlakatCmpl";
    src: url('assets\fonts\a_PlakatCmpl ExtraBold.ttf') format('truetype'); 
}




#carouselExampleControls{
    background-color: #ebebeb;
}

#headerLogo{
    position: relative;
}

#headerText{
    position: absolute;
     top: 50%; 
     left: 50%; 
     transform: translate(0%, -70%); 
     font-family: 'a_PlakatCmpl',Arial, sans-serif;
     color: white;
}

#subtitleHeader{
    position: relative; 
    font-family: "Open Sans", sans-serif;
     color: white;
}

#contentBanner {
    height: 32dvh;
    min-height: 300px;
    padding-left: 15vw;
    background-image: url(../assets/images/contentBanner_bg.gif);
}

#pageTitle {
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "a_ Plakat Cmpl";
}

#content {
    border: 1px solid black;
    height: 350dvh;
    min-height: 3000px;
}

footer {
    height: 60dvh;
    min-height: 494px;
    font-size: 20px;
    border: 1px solid black;
}

.footerIcon {
    height: 65px;
}